body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.header, .subheader, .footer {
  background: #1F2937;
  color: white;
  padding: 16px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subheaderLeft, .subheaderRight {
  flex-grow: 1;
  flex-basis: 50%;
}

.content {
  flex-grow: 1;
  padding: 16px 100px;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}